@charset "utf-8";
body {
	background:#F2F2F2!important
}
.box {
	padding:0 15px
}
.mgt0 {
	margin-top:0!important
}
.mgt12 {
	margin-top:12px
}
.first-tags {
	height:44px;
	line-height:45px;
	background:#fff;
	font-size:1.6rem;
	border-bottom:1px solid #ececec
}
.first-tags ul {
	width:100%;
	display:table
}
.first-tags li {
	display:table-cell;
	text-align:center
}
.first-tags li a {
	color:#666;
	display:block
}
.first-tags li a span {
	width:100%;
	height:43px;
	display:block;
	overflow:hidden;
	white-space:nowrap
}
.first-tags li.current a {
	color:#3369B1
}
.first-tags li.current a span {
	border-bottom:2px solid #3369B1
}
.sub-tags {
	height:40px;
	line-height:40px;
	background:#F5F5F5;
	font-size:1.4rem
}
.sub-tags ul {
	padding:0 0 0 20px
}
.sub-tags li {
	float:left;
	margin-right:40px
}
.sub-tags li a {
	color:#828282;
	display:block
}
.sub-tags li.current a {
	color:#3369B1
}
.second-tags {
	height:49px;
	line-height:50px;
	background:#fff;
	font-size:1.5rem;
	border-bottom:1px solid #ececec
}
.second-tags ul {
	width:100%;
	display:table
}
.second-tags li {
	display:table-cell;
	text-align:center
}
.second-tags li a {
	color:#828282;
	display:block
}
.second-tags li a span {
	padding:0 0 14px
}
.second-tags li.current a {
	color:#3369B1
}
.second-tags li.current a span {
	border-bottom:2px solid #3369B1
}
.second-tags-scroll-box {
	position:relative;
	overflow:hidden
}
.second-tags-scroll-box .right-mask {
	width:20px;
	height:50px;
	position:absolute;
	right:0;
	bottom:1px;
	z-index:2;
	background-image:-webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff);
	background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #fff)
}
.second-tags-scroll {
	height:50px;
	line-height:50px;
	background:#fff;
	font-size:1.5rem;
	box-shadow:0 -1px 0 #ECECEC inset;
	overflow:hidden;
	overflow-x:scroll;
	-webkit-overflow-scrolling:touch;
	-ms-overflow-style:none
}
.second-tags-scroll::-webkit-scrollbar {
height:0
}
.second-tags-scroll ul {
	white-space:nowrap;
	padding:0 0 0 15px
}
.second-tags-scroll li {
	white-space:nowrap;
	display:inline-block;
	padding-right:25px
}
.second-tags-scroll li a {
	display:block;
	color:#828282
}
.second-tags-scroll li a span {
	padding:0 0 14px
}
.second-tags-scroll li.current a {
	color:#3369B1
}
.second-tags-scroll li.current a span {
	border-bottom:2px solid #3369B1
}
.tt-first {
	height:50px;
	line-height:50px;
	background:#fff;
	font-size:1.8rem;
	margin:12px 0 0;
	position:relative;
	overflow:hidden;
	box-shadow:0 -1px 0 #ECECEC inset
}
.tt-first-no-bd {
	border-bottom:0;
	margin-bottom:-15px;
	box-shadow:none
}
.tt-first h3 {
	color:#2F2F2F;
	padding:0 0 0 15px;
	font-weight:bold;
	float:left
}
.tt-first .opt-more {
	position:absolute;
	right:15px;
	bottom:0;
	font-size:1.4rem
}
.tt-first .opt-more a {
	background:url(../images/ico_arrow_right.png) no-repeat right center;
	background-size:6px 11px;
	color:#3369B1;
	padding-right:11px;
	display:block;
	line-height:50px;
	vertical-align:middle
}
.tt-first .opt-more-gray a {
	color:#666;
	font-size:1.4rem
}
.tt-first .opt-refresh {
	position:absolute;
	right:15px;
	bottom:0;
	font-size:1.4rem
}
.tt-first .opt-refresh a {
	background:url(../images/ico_refresh.png) no-repeat right center;
	background-size:12px 12px;
	color:#666;
	padding-right:19px;
	display:block;
	line-height:50px;
	vertical-align:middle
}
.tt-first .opt-city {
	position:absolute;
	right:15px;
	bottom:0;
	font-size:1.3rem
}
.tt-first .opt-city a {
	color:#666;
	position:relative;
	border:1px solid #DEDEDE;
	border-radius:3px;
	padding:5px 12px
}
.tt-first .opt-city i {
	width:0;
	height:0;
	border-width:4px 4px;
	border-style:solid;
	border-color:transparent #DEDEDE #DEDEDE transparent;
	position:absolute;
	bottom:2px;
	right:2px;
	z-index:2
}
.tt-first-small {
	font-size:1.6rem
}
.tt-first-small h3 {
	font-weight:normal
}
.tt-second {
	height:30px;
	padding:15px 0 0 0;
	background:#fff;
	font-size:1.5rem;
	margin:15px 0 0;
	position:relative
}
.tt-second h3 {
	color:#fff;
	padding:0 15px;
	height:30px;
	line-height:30px;
	background:#a5cdf2;
	border-radius:0 15px 15px 0;
	float:left
}
.tt-second h3.red {
	background:#f37b7b
}
.tags-sub {
	position:absolute;
	right:0;
	bottom:0;
	font-size:1.5rem
}
.tags-sub li {
	float:left;
	margin:0 15px 0 5px
}
.tags-sub li a {
	display:block;
	height:47px;
	line-height:49px;
	color:#666
}
.tags-sub li.current a {
	color:#3369B1;
	border-bottom:2px solid #3369B1
}
.tags-sub-left {
	left:0
}
.tags-sub-left li {
	float:left;
	margin:0 5px 0 15px
}
.tags-sub-left-tt {
	font-weight:bold;
	font-size:1.8rem
}
.link-sub {
	position:absolute;
	top:0;
	right:0;
	font-size:1.5rem
}
.link-sub li {
	float:left
}
.link-sub a {
	color:#828282;
	padding:0 15px 0 12px
}
.link-sub li:last-child a {
	border:0
}
.tt-first-sublink {
	float:left;
	font-size:1.2rem;
	color:#B7B7B7;
	margin:0 0 0 10px
}
.tt-first-sublink a {
	color:#B7B7B7;
	padding:0 5px 0 0
}
.tt-small {
	width:100%;
	height:33px;
	line-height:33px;
	background:#F5F5F5;
	color:#828282;
	font-size:1.4rem;
	position:relative;
	overflow:hidden
}
.tt-small span {
	padding:0 15px
}
.tt-small em {
	position:absolute;
	top:0;
	right:15px
}
.tt-small {
	position:relative
}
.tt-small i {
	background-image:url(../images/public-icon.png);
	background-repeat:no-repeat;
	background-size:250px auto;
	background-position:-4px -5px;
	width:15px;
	height:8px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-4px
}
.tt-small i.up {
	background-position:-4px -16px
}
.tt-small span em {
	position:relative;
	top:-1px;
	margin-left:18px;
	display:inline-block;
	font-size:1.4rem
}
.tt-small.min-small span {
	font-size:1.4rem
}
.car-nav {
	width:100%;
	font-size:1.6rem;
	overflow:hidden;
	background:#fff
}
.car-nav li {
	float:left;
	width:20%
}
.car-nav li a {
	display:block;
	height:44px;
	line-height:44px;
	text-align:center;
	color:#666;
	border-right:1px solid #ECECEC;
	border-bottom:1px solid #ECECEC
}
.car-nav li.current a {
	height:43px;
	color:#3369B1;
	border-bottom:2px solid #3369B1
}
.pic-txt {
	overflow:hidden;
	padding:0 15px 18px;
	background:#fff
}
.pic-txt li {
	float:left;
	width:50%;
	margin:15px 0 0
}
.pic-txt li a {
	display:block
}
.pic-txt li:nth-child(odd) a {
margin-right:5px
}
.pic-txt li:nth-child(even) a {
margin-left:5px
}
.pic-txt li img {
	display:block;
	width:100%
}
.pic-txt li p {
	font-size:1.6rem;
	line-height:20px;
	margin:9px 0 0
}
.pic-txt li em {
	font-size:1.2rem;
	color:#B7B7B7;
	display:block;
	margin:8px 0 0;
	height:18px;
	overflow:hidden
}
.pic-txt-video li a {
	margin:0 auto
}
.pic-txt-video li span {
	display:block;
	position:relative;
	overflow:hidden
}
.pic-txt-video li span i {
	width:20px;
	height:20px;
	background:url(../images/m_ico_video_w.png) no-repeat;
	background-size:20px 20px;
	position:absolute;
	left:5px;
	bottom:5px
}
.pic-txt-video li p {
	height:38px;
	overflow:hidden;
	text-overflow:ellipsis;
	text-overflow:-o-ellipsis-lastline;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}
.pic-txt-video li em i {
	background:url(../images/ico_video_num.png) no-repeat left center;
	background-size:8px 10px;
	padding:0 0 0 13px;
	margin-right:15px
}
.pic-txt-video li em i.time {
	background:url(../images/ico_video_time.png) no-repeat left center;
	background-size:12px 12px;
	padding-left:17px
}
.pic-txt-car {
	position:relative
}
.pic-txt-car p {
	height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.pic-txt-car b {
	font-size:1.3rem;
	color:#DD2727;
	display:block;
	margin:4px 0 0
}
.pic-txt-car li em {
	margin-top:3px
}
.btn-more {
	width:100%;
	height:50px;
	line-height:50px;
	background:#fff;
	border-top:1px solid #EDEDED;
	text-align:center;
	display:block;
	font-size:1.4rem;
	color:#666;
	position:relative
}
.btn-more i {
	background:url(../images/ico_arrow_right_s.png) no-repeat right center;
	background-size:6px 11px;
	padding-right:12px
}
.btn-add-more i {
	background:url(../images/ico_arrow_down_s.png) no-repeat right center;
	background-size:11px 6px;
	padding-right:17px
}
.m-pages {
	height:34px;
	line-height:34px;
	position:relative;
	font-size:1.5rem;
	padding:10px 15px 15px;
	background:#fff
}
.m-pages-pre, .m-pages-next {
	display:block;
	width:80px;
	height:32px;
	background:#fff;
	border:1px solid #D2D2D2;
	color:#3369B1;
	text-align:center;
	border-radius:3px
}
.m-pages-pre {
	float:left
}
.m-pages-next {
	float:right
}
.m-pages-none {
	color:#B7B7B7
}
.m-pages-num {
	width:101px;
	height:32px;
	background:#fff;
	border:1px solid #D2D2D2;
	position:absolute;
	top:10px;
	left:50%;
	margin-left:-51px;
	color:#666;
	border-radius:3px
}
.m-pages-num-arrow {
	width:32px;
	height:100%;
	border-left:1px solid #D2D2D2;
	float:right;
	text-align:center;
	background:url(../images/ico_arrow_down.png) no-repeat center center;
	background-size:13px 8px
}
.m-pages-num-con {
	width:68px;
	height:100%;
	text-align:center;
	float:left
}
.m-pages select {
	width:103px;
	height:34px;
	position:absolute;
	top:10px;
	left:50%;
	margin-left:-51px;
	opacity:0
}
.change-car-top {
	height:44px;
	line-height:44px;
	background:#fff;
	border-bottom:1px solid #ECECEC;
	font-size:1.6rem;
	overflow:hidden;
	position:relative;
	display:block;
	color:#333;
	padding:0 35px 0 70px;
	text-align:right
}
.change-car-top:after {
	display:block;
	position:absolute;
	top:50%;
	margin-top:-7px;
	right:15px;
	width:8px;
	height:14px;
	content:'';
	background:url(../images/ico_arrow_right.png) no-repeat;
	background-size:8px 14px;
	font-size:0;
	line-height:0;
	color:transparent
}
.change-car-top span {
	padding:0;
	position:absolute;
	top:0;
	left:15px
}
.change-car-top strong {
	font-size:1.4rem;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	color:#666
}
.change-car-top-none strong {
	color:#b7b7b7
}
.card-news {
	width:100%;
	overflow:hidden;
	background:#fff
}
.card-news li {
	border-bottom:1px solid #ECECEC;
	overflow:hidden;
	padding:0 15px 12px;
	margin:14px 0 0
}
.card-news li:last-child {
	border-bottom:0
}
.card-news a {
	display:block;
	overflow:hidden
}
.card-news .img-box {
	width:90px;
	height:60px;
	float:left;
	margin-right:10px;
	position:relative
}
.card-news .img-box img {
	display:block;
	width:100%
}
.card-news .img-box b {
	width:15px;
	height:15px;
	line-height:15px;
	text-align:center;
	font-size:1.2rem;
	color:#fff;
	background:#DD2727;
	position:absolute;
	top:0;
	left:0
}
.card-news .img-box i {
	width:20px;
	height:20px;
	background:url(../images/m_ico_video_w.png) no-repeat;
	background-size:20px 20px;
	position:absolute;
	left:5px;
	bottom:5px
}
.card-news h4 {
	font-size:1.6rem;
	line-height:20px
}
.card-news-h h4 {
	height:45px
}
.card-news em {
	font-size:1.2rem;
	color:#B7B7B7;
	display:block;
	margin:1px 0 0
}
.card-news em span {
	padding-right:10px
}
.card-news em i {
	background:url(../images/ico_video_num.png) no-repeat left center;
	background-size:8px 10px;
	padding:0 0 0 12px;
	margin-right:12px
}
.card-news em i.ico-comment {
	background:url(../images/ico_comment.png) no-repeat 0;
	background-size:13px auto;
	padding:0 0 0 18px;
	margin-right:0;
	float:right
}
.card-news em i.time {
	background:url(../images/ico_video_time.png) no-repeat left center;
	background-size:12px 12px;
	padding-left:16px
}
.card-news em i.ico-yiqishuo {
	background:#fff;
	font-size:1.2rem;
	color:#77aa19;
	border:1px solid #adcc75;
	padding:0 4px;
	border-radius:2px;
	float:right;
	margin:-1px 0 0
}
.card-news .news-xj {
	position:relative
}
.card-news .news-xj span {
	font-size:1.2rem;
	color:#fff;
	background:#5A8DD2;
	border-radius:2px;
	overflow:hidden;
	height:16px;
	line-height:16px;
	width:58px;
	text-align:center;
	display:block
}
.card-news .news-xj h4 {
	margin-top:3px
}
.card-news .news-xj em {
	position:absolute;
	bottom:17px;
	right:15px
}
.card-news .baa-list-img {
	overflow:hidden;
	margin:7px -5px 10px -5px
}
.card-news .baa-list-img li {
	border:0;
	padding:0;
	margin:0;
	float:left;
	width:33.333333%
}
.card-news .baa-list-img span {
	display:block;
	margin:0 5px
}
.card-news .baa-list-img img {
	display:block;
	width:100%
}
.m-app-part-scroll {
	width:100%;
	height:130px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
	background:#fff
}
.m-app-part-scroll li {
	width:300px;
	height:130px;
	float:left;
	overflow:hidden
}
.m-app-part-scroll li p {
	float:left;
	text-align:center;
	font-size:1.3rem;
	margin:15px 0 0 0;
	color:#666;
	width:25%
}
.m-app-part-scroll li p a {
	width:60px;
	height:60px;
	display:block;
	margin:0 auto 8px
}
.m-app-part-scroll .pagination-app {
	position:absolute;
	z-index:20;
	left:0;
	bottom:5px;
	text-align:center;
	width:100%
}
.m-app-part-scroll .swiper-pagination-switch {
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:10px;
	background:#CCC;
	margin-right:5px;
	cursor:pointer
}
.m-app-part-scroll .swiper-active-switch {
	background:#dd2727
}
.pic-txt-h {
	overflow:hidden;
	background:#fff
}
.pic-txt-h li {
	width:100%;
	border-bottom:1px solid #E9E9E9;
	padding:0 15px;
	overflow:hidden
}
.pic-txt-h li:last-child {
	border:0
}
.pic-txt-h li.current h4 {
	color:#3269b4
}
.pic-txt-h a {
	display:block;
	overflow:hidden
}
.pic-txt-h img {
	margin:0 10px 0 0;
	float:left
}
.pic-txt-h strong {
	color:#c00
}
.pic-txt-h p em {
	font-size:1.2rem;
	background:#EC4131;
	color:#fff;
	padding:0 1px
}
.pic-txt-h p b {
	color:#3DA600;
	margin:0 0 0 10px
}
.pic-txt-h p b.ico-down {
	background:url(http://img4.bitautoimg.com/uimg/mbt/images/m_ico_arrow_down.gif) no-repeat left center;
	background-size:10px 10px;
	padding:0 0 0 11px
}
.pic-txt-h li.none h4, .pic-txt-h li.none p, .pic-txt-h li.none strong {
	color:#bbb
}
.pic-txt-h li.none em {
	color:#fff;
	background:#bbb
}
.pic-txt-h.y2015 ul {
	width:100%;
	padding:0 15px;
	display:block;
	box-sizing:border-box
}
.pic-txt-h.y2015 ul li {
	padding-left:0;
	padding-right:0;
	display:block
}
.pic-txt-9060 li {
	padding-bottom:14px;
	margin-top:15px
}
.pic-txt-9060 img {
	width:90px;
	height:60px
}
.pic-txt-9060 h4 {
	font-size:1.8rem;
	padding:10px 0 8px
}
.pic-txt-9060 p {
	color:#999;
	font-size:1.2rem
}
.pic-txt-kb li b {
	font-size:1.2rem;
	display:block;
	margin-top:5px
}
.pic-txt-kb li b span {
	color:#dd2727
}
.m-popup-black {
	width:130px;
	height:80px;
	line-height:80px;
	background:rgba(0, 0, 0, 0.7);
	border-radius:8px;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-65px;
	text-align:center;
	color:#fff;
	font-size:1.6rem;
	z-index:99
}
.switch-on, .switch-off {
	border-radius:20px;
	position:relative
}
.switch-on b, .switch-off b {
	width:28px;
	height:28px;
	border-radius:50%;
	background:#fff;
	position:absolute
}
.switch-on {
	width:52px;
	height:32px;
	background:#266DE2
}
.switch-on b {
	top:2px;
	right:2px
}
.switch-off {
	width:48px;
	height:28px;
	background:#fff;
	border:2px solid #e5e5e5
}
.switch-off b {
	top:0;
	left:0;
	box-shadow:1px 1px 5px #e5e5e5
}
.sort {
	font-size:1.4rem;
	background:#fff;
	padding:0 10px
}
.sort li {
	float:left;
	text-align:center
}
.sort li a {
	display:block;
	height:33px;
	line-height:33px;
	color:#666;
	background:#F8F8F8;
	border-radius:4px;
	margin:10px 5px 0;
	overflow:hidden
}
.sort2 li {
	width:50%
}
.sort3 li {
	width:33.3333%
}
.sort4 li {
	width:25%
}
.sort5 li {
	width:20%
}
.sort-bg-white li a {
	background:#fff;
	height:36px;
	line-height:36px;
	border:1px solid #d2d2d2;
	color:#333
}
.sort-pop li a {
	position:relative
}
.sort-pop li i {
	width:0;
	height:0;
	border-width:4px 4px;
	border-style:solid;
	border-color:transparent #d2d2d2 #d2d2d2 transparent;
	position:absolute;
	bottom:3px;
	right:3px;
	z-index:2
}
.sort-pop li.current a {
	border-color:#297dcc;
	color:#297dcc
}
.sort-pop li.current i {
	border-color:transparent #297dcc #297dcc transparent
}
.m-txt-list {
	background:#fff;
	font-size:1.6rem
}
.m-txt-list li {
	border-top:1px solid #EDEDED;
	padding:0 15px
}
.m-txt-list li a {
	display:block;
	height:50px;
	line-height:50px;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-right:10px
}
.news-list {
	background:#fff;
	overflow:hidden
}
.news-list li {
	padding:13px 15px;
	border-bottom:1px solid #EEE
}
.news-list li:last-child {
	border-bottom:0
}
.news-list a {
	display:block
}
.news-list p {
	font-size:1.5rem;
	line-height:1.5;
	margin:0 0 3px
}
.news-list em {
	font-size:1.2rem;
	color:#B7B7B7
}
.news-list em span {
	margin-right:15px
}
.m-r-box {
	position:fixed;
	z-index:999;
	right:15px;
	bottom:90px
}
.m-r-top {
	display:block;
	width:53px;
	height:53px;
	background:rgba(255, 255, 255, 0.9);
	border:1px solid #d4d4d4;
	border-radius:50%;
	color:#666;
	font-size:1.2rem;
	text-align:center;
	margin-top:5px
}
.m-r-top .ico-top-arrow {
	width:18px;
	height:9px;
	background:url(../images/ico_arrow_top.png) no-repeat;
	background-size:18px 9px;
	margin:11px auto 0
}
.m-r-top p {
	margin:5px 0 0
}
.m-r-feedback .ico-feedback {
	width:15px;
	height:15px;
	background:url(../images/ico_right_fixed.png) no-repeat 0 -10px;
	background-size:18px auto;
	margin:8px auto 0
}
.m-r-feedback p {
	margin:3px 0 0
}
.m-r-pk {
	width:55px;
	height:55px;
	display:block;
	margin-top:5px
}
.m-r-pk .btn-pk-box {
	position:relative;
	width:100%;
	height:43px;
	padding-top:12px;
	background:rgba(44, 114, 206, 0.9);
	border-radius:50%
}
.m-r-pk .ico-pk {
	color:#fff;
	font-size:1.9rem;
	text-align:center
}
.m-r-pk p {
	font-size:1.2rem;
	color:#fff;
	text-align:center
}
.m-r-pk i {
	background:#F53E3E;
	border-radius:50%;
	color:#fff;
	position:absolute;
	top:0;
	right:0;
	width:15px;
	height:15px;
	line-height:15px;
	text-align:center
}
.m-r-peizhi {
	width:55px;
	height:46px;
	background:rgba(44, 114, 206, 0.9);
	border-radius:50%;
	color:#fff;
	font-size:1.2rem;
	text-align:center;
	padding-top:9px;
	margin-top:5px
}
.m-r-peizhi i {
	width:18px;
	height:2px;
	background:#fff;
	overflow:hidden;
	margin:3px auto 0;
	display:block
}
.m-r-peizhi p {
	margin-top:4px
}
.m-r-catalog {
	width:53px;
	height:53px;
	background:rgba(255, 255, 255, 0.9);
	border:1px solid #d4d4d4;
	border-radius:50%;
	color:#666;
	font-size:1.2rem;
	text-align:center;
	display:block;
	margin-top:5px
}
.m-r-catalog .ico-catalog {
	width:18px;
	height:12px;
	background:url(../images/ico_right_fixed_catalog.png) no-repeat;
	background-size:18px auto;
	margin:11px auto 0
}
.m-r-catalog p {
	margin:5px 0 0
}
.m-top {
	position:fixed;
	width:53px;
	height:53px;
	background:rgba(255, 255, 255, 0.9);
	border:1px solid #d4d4d4;
	border-radius:50%;
	color:#666;
	font-size:1.2rem;
	text-align:center;
	right:15px;
	bottom:90px;
	z-index:999
}
.m-top .ico-top-arrow {
	width:18px;
	height:9px;
	background:url(../images/ico_arrow_top.png) no-repeat;
	background-size:18px 9px;
	margin:11px auto 0
}
.m-top p {
	margin:5px 0 0
}
.btn-pk {
	width:55px;
	height:55px;
	position:fixed;
	right:15px;
	bottom:160px;
	z-index:999
}
.btn-pk-box {
	position:relative;
	width:100%;
	height:43px;
	padding-top:12px;
	background:rgba(44, 114, 206, 0.9);
	border-radius:50%
}
.btn-pk .ico-pk {
	color:#fff;
	font-size:1.9rem;
	text-align:center
}
.btn-pk p {
	font-size:1.2rem;
	color:#fff;
	text-align:center
}
.btn-pk i {
	background:#F53E3E;
	border-radius:50%;
	color:#fff;
	position:absolute;
	top:0;
	right:0;
	width:15px;
	height:15px;
	line-height:15px;
	text-align:center
}
.market-p {
	overflow:hidden;
	background:#fff;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
.market-p li {
	border-bottom:1px solid #ECECEC;
	padding:0 15px 15px;
	margin:15px 0 0;
	overflow:hidden;
	position:relative
}
.market-p li:last-child {
	border-bottom:0
}
.market-p .img-box {
	float:left;
	width:90px;
	height:60px;
	margin-right:10px
}
.market-p img {
	display:block
}
.market-p dl {
	float:left;
	margin:5px 0 0
}
.market-p dt {
	font-size:1.6rem;
	line-height:26px
}
.market-p dd {
	font-size:1.4rem;
	color:#DD2727;
	line-height:22px
}
.market-p dd em {
	color:#b7b7b7;
	font-size:1.2rem
}
.market-p dd em.cGreen {
	font-size:1.2rem;
	color:#090;
	margin-left:15px
}
.market-p dd em.ico-down {
	font-size:1.2rem;
	color:#090;
	margin-left:15px;
	background:url(../images/m_ico_downprice.gif) no-repeat left center;
	background-size:10px 10px;
	padding-left:12px
}
.market-p a.btn-xunjia {
	width:58px;
	height:33px;
	line-height:33px;
	font-size:1.4rem;
	position:absolute;
	top:13px;
	right:15px;
	border:1px solid #FFAB4C;
	border-radius:3px;
	text-align:center;
	color:#f80
}
.market-p-block a {
	display:table;
	overflow:hidden;
	width:100%
}
.market-p-block .img-box {
	float:none;
	display:table-cell;
	margin:0
}
.market-p-block dl {
	float:none;
	display:table-cell;
	padding-left:10px;
	vertical-align:middle
}
.market-p-block dt {
	line-height:22px
}
.car-list3 {
	background:#fff;
	overflow:hidden;
	padding:0 10px 17px 10px
}
.car-list3 li {
	width:33.3333%;
	float:left;
	margin:15px 0 0
}
.car-list3 li a {
	display:block;
	text-align:center;
	margin:0 5px
}
.car-list3 li img {
	display:block;
	width:100%
}
.car-list3 li strong {
	font-size:1.4rem;
	display:block;
	height:17px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin:8px 0 0
}
.car-list3 li p {
	font-size:1.2rem;
	color:#dd2727;
	margin:5px 0 0
}
.none-block {
	background:#fff;
	min-height:400px;
	overflow:hidden;
	text-align:center
}
.none-block .ico-nocar {
	width:89px;
	height:75px;
	background:url(../images/ico_no_car.png) no-repeat;
	background-size:89px 75px;
	margin:130px auto 11px
}
.none-block p {
	font-size:1.4rem;
	color:#B7B7B7;
	line-height:24px
}
.m-no-result {
	overflow:hidden;
	margin:10px 0
}
.m-no-result .face {
	width:75px;
	height:75px;
	float:left
}
.m-no-result .face-fail {
	background:url(../images/m_yixiaoche_fail.jpg) no-repeat;
	background-size:75px 75px
}
.m-no-result dl {
	float:left;
	padding:15px 0 0 10px
}
.m-no-result dt {
	font-size:1.6rem;
	line-height:24px
}
.m-no-result dd {
	font-size:1.2rem;
	color:#999
}
.btn-one {
	width:100%;
	height:44px;
	line-height:44px;
	text-align:center;
	display:block;
	font-size:1.6rem;
	border-radius:5px
}
.btn-orange {
	background:#F90;
	color:#fff
}
.btn-blue {
	background:#297DCC;
	color:#fff
}
.btn-two {
	overflow:hidden
}
.btn-two ul {
	padding:0 8px
}
.btn-two li {
	width:50%;
	float:left
}
.btn-two li a {
	display:block;
	height:44px;
	line-height:44px;
	font-size:1.6rem;
	text-align:center;
	border-radius:5px;
	margin:0 7px
}
.m-car-summarycard2 {
	background:#fff;
	overflow:hidden;
	padding:15px;
	height:80px
}
.m-car-summarycard2 a {
	display:table;
	width:100%;
	overflow:hidden;
	position:relative
}
.m-car-summarycard2 a::after {
display:block;
position:absolute;
top:40px;
right:0;
width:6px;
height:11px;
content:'';
background:url(../images/ico_arrow_right_s.png) no-repeat;
background-size:6px 11px;
font-size:0;
line-height:0;
color:transparent
}
.m-car-summarycard2 .car-img {
	width:120px;
	height:80px;
	display:table-cell;
	overflow:hidden
}
.m-car-summarycard2 .car-img img {
	display:block;
	width:100%
}
.m-car-summarycard2 .car-info {
	display:table-cell;
	vertical-align:middle;
	padding-left:10px
}
.m-car-summarycard2 .car-info h3 {
	font-size:1.8rem
}
.m-car-summarycard2 .car-info dl {
	font-size:1.4rem
}
.m-car-summarycard2 .car-info dd {
	margin:10px 0 0
}
.m-car-summarycard2 .car-info em {
	color:#999;
	font-size:1.2rem
}
.m-car-summarycard2 .car-info strong {
	color:#dd2727
}
.m-car-summarycard2 .car-info strong.cGray {
	color:#999
}
@media only screen and (max-device-width:320px) {
.m-car-summarycard2 .car-info {
padding-left:0
}
}
.jump-pop {
	padding:15px 20px;
	background:rgba(0, 0, 0, 0.8);
	border-radius:5px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%)
}
.jump-pop span {
	font-size:1.6rem;
	color:#fff;
	text-align:center;
	word-break:keep-all;
	white-space:nowrap
}
.float-r-box {
	position:fixed;
	z-index:999;
	right:15px;
	bottom:109px
}
.float-r-ball {
	width:43px;
	height:43px;
	border-radius:50%;
	line-height:43px;
	background:#fff;
	border:1px solid #d4d4d4;
	display:block;
	margin-top:10px;
	color:#666;
	text-align:center
}
.float-r-ball p {
	font-size:1.5rem
}
.float-pk {
	position:relative;
	width:45px;
	height:45px
}
.float-pk i {
	background:#f53e3e;
	border-radius:50%;
	color:#fff;
	position:absolute;
	top:-2px;
	right:-2px;
	width:15px;
	height:15px;
	line-height:15px;
	text-align:center;
	z-index:900
}
.float-pk span {
	display:block;
	width:43px;
	height:43px;
	border-radius:50%;
	line-height:43px;
	background:#fff;
	border:1px solid #d4d4d4;
	position:relative;
	z-index:899
}
.float-mulu .ico-mulu {
	background:url(../images/ico_mulu.png) no-repeat;
	width:20px;
	height:23px;
	background-size:20px auto;
	margin:16px auto 0
}
.float-top {
	position:fixed;
	z-index:999;
	right:15px;
	bottom:54px;
	-webkit-transform:translate(105px, 0);
	transform:translate(105px, 0);
-webkit-transition:-webkit-transform ease .2s;
transition:transform ease .2s;
	-webkit-backface-visibility:hidden;
	-webkit-transform-style:preserve-3d;
	-webkit-transform-origin:0 0
}
.float-top-show {
	-webkit-transform:translate(0px, 0);
	transform:translate(0px, 0);
-webkit-transition:-webkit-transform ease .3s;
transition:transform ease .3s;
	-webkit-backface-visibility:hidden;
	-webkit-transform-style:preserve-3d;
	-webkit-transform-origin:0 0
}
.float-top .ico-top {
	width:20px;
	height:11px;
	background:url(../images/ico_arrow_top.png) no-repeat;
	background-size:20px auto;
	margin:15px auto 0
}
.float-catalog-mask {
	width:100%;
	height:120%;
	background:rgba(0, 0, 0, 0.1);
	position:fixed;
	top:0;
	left:0;
	z-index:1000
}
.float-catalog {
	position:fixed;
	z-index:1001;
	left:0;
	bottom:116px;
	width:48px;
	height:32px;
	line-height:32px;
	text-align:center;
	background:rgba(70, 130, 210, 0.9);
	font-size:1.5rem;
	color:#fff;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px
}
.float-catalog .catalog-list {
	position:relative
}
.float-catalog .catalog-list ul {
	position:absolute;
	width:220px;
	height:290px;
	background:#fff;
	border:1px solid #d0d0d0;
	top:-295px;
	left:59px;
	overflow:hidden;
	padding-top:15px;
	box-shadow:0 0 2px #cacaca
}
.float-catalog .catalog-list ul li {
	width:50%;
	height:28px;
	line-height:28px;
	float:left;
	text-align:left;
	margin:6px 0
}
.float-catalog .catalog-list ul li a {
	display:block;
	color:#666
}
.float-catalog .catalog-list ul li:nth-child(odd) a {
margin:0 0 0 10px
}
.float-catalog .catalog-list ul li:nth-child(even) a {
margin:0 10px 0 0
}
.float-catalog .catalog-list ul span {
	padding-left:10px
}
.float-catalog .catalog-list ul li.current a {
	background:#588ed6;
	color:#fff;
	border-radius:5px
}
.float-catalog .catalog-list .ico-catalog-arrow {
	width:8px;
	height:14px;
	background:url(../images/ico_catalog_arrow.png) no-repeat;
	background-size:8px auto;
	position:absolute;
	top:-23px;
	left:52px
}
.float-gift {
	width:51px;
	height:45px;
	background:url(../images/ico_float_gift.png) no-repeat;
	background-size:51px auto;
	display:block;
	margin:10px 0 0 -6px;
	text-indent:-999em
}
.header-double {
	float:left;
	background-image:url(../images/double-icon.png);
	background-repeat:no-repeat;
	background-size:250px auto;
	background-position:-2px -2px;
	width:98px;
	height:13px;
	margin-top:16px;
	margin-left:10px
}
.header-double.min {
	background-position:-105px 0;
	width:35px;
	height:15px
}
.flex-double {
	position:fixed;
	width:53px;
	height:53px;
	border-radius:50%;
	right:15px;
	bottom:150px;
	z-index:999
}
.flex-double i {
	position:absolute;
	background-image:url(../images/double-icon.png);
	background-repeat:no-repeat;
	background-size:250px auto;
	background-position:-193px -23px;
	width:57px;
	height:52px;
	top:0;
	left:0;
	z-index:10
}
.tt-first-double, .double-park {
	font-size:1.2rem;
	color:#fff;
	background-color:#ee0f37;
	padding:1px 4px 1px 3px;
	border-radius:2px;
	margin-left:5px;
	vertical-align:3px;
	box-sizing:border-box
}
.buy-top .ico-double i {
	display:block;
	width:45px;
	height:46px;
	background:url(../images/double-icon.png) no-repeat;
	background-position:-66px -25px;
	background-size:250px auto;
	margin:14px auto 0
}
@media only screen and (max-device-width:320px) {
.header .btn-search {
margin-right:0
}
}
.footer-box {
	background:#fff;
	padding:10px 0 0
}
.ad-bottom-line img {
	width:100%;
	display:block
}
.footer {
	width:100%;
	height:45px;
	line-height:45px;
	background:#333;
	font-size:1.2rem;
	position:relative;
	z-index:1
}
.footer em {
	color:#444
}
.footer a {
	color:#999;
	padding:0 10px
}
.footer a.current {
	color:#fff
}
.footer .left-part {
	float:left
}
.footer .right-part {
	float:right
}
.footer .ico-yjdc {
	position:relative
}
.footer .ico-yjdc i {
	width:5px;
	height:5px;
	background:#c00;
	border-radius:5px;
	position:absolute;
	top:0;
	right:7px
}
.footer15 {
	background:#fff;
	margin:0;
	padding:0 0 37px;
	border-top:12px solid #f2f2f2
}
.m-s-box {
	width:100%;
	height:50px;
	background:#F8F8F8;
	border-bottom:1px solid #E2E2E2;
	display:table
}
.m-s-box .m-close-box {
	display:table-cell;
	padding:9px 0 0 10px;
	width:100%
}
.m-s-box .m-close-box-in {
	position:relative;
	width:100%
}
.m-s-box input[type="text"], .m-s-box input[type="search"] {
	width:100%;
	height:38px;
	font-size:1.5rem;
	color:#A0A0A0;
	vertical-align:middle;
	padding:0;
	box-sizing:content-box;
	border:0;
	box-shadow:0 0 0 1px #dedede inset;
	text-indent:10px;
	position:relative;
	z-index:10;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	background-image:none
}
.m-s-box .m-btn-box {
	display:table-cell;
	width:67px;
	padding:9px 10px 0 0
}
.m-s-box input[type="submit"] {
	width:66px;
	height:38px;
	border:1px solid #dedede;
	border-left:none;
	background-color:#fbfbfb;
	background-image:url(../images/nav_ico_all.png);
	background-repeat:no-repeat;
	background-position:-112px 10px;
	background-size:150px auto;
	text-indent:-999em;
	cursor:pointer;
	vertical-align:middle;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px
}
.m-s-box .m-btn-close {
	width:20px;
	height:20px;
	background:url(../images/m_header_nav_search.png) no-repeat 2px -72px;
	background-size:100px auto;
	position:absolute;
	top:8px;
	right:5px;
	text-indent:-999em;
	z-index:11;
	display:none
}
.m-s-box-bottom {
	border-top:1px solid #E2E2E2;
	position:relative;
	z-index:1;
	padding-bottom:5px
}
.footer15 .m-s-box {
	background:#FFF;
	border:0;
	height:auto;
	padding:15px 0 0
}
.footer15 .m-s-box .m-close-box {
	padding:0 0 0 15px
}
.footer15 .m-s-box .m-btn-box {
	padding:0 15px 0 0
}
.footer15 .opt-change {
	text-align:center;
	font-size:1.4rem;
	color:#dedede;
	margin-top:18px
}
.footer15 .opt-change em {
	padding:0 10px
}
.footer15 .opt-change a {
	color:#666
}
.footer15 .opt-change a.current {
	color:#3269b4
}
.footer15 .opt-change span {
	background:url(../images/ico_feedback.png) no-repeat;
	background-size:10px auto;
	padding-left:16px
}
.footer15 .foot-contact {
	font-size:1.2rem;
	color:#999;
	text-align:center;
	margin-top:34px
}
.footer15 .foot-contact p {
	border-top:1px solid #ececec;
	display:inline;
	padding:18px 0 0
}
.footer15 .foot-contact a {
	color:#999;
	font-weight:bold;
	font-size:1.4rem
}
.footer15 .foot-copyright {
	font-size:1.2rem;
	color:#999;
	text-align:center;
	margin-top:6px
}
.footer15 .foot-copyright a {
	color:#999
}

table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset, img {
	border:0
}
legend {
	display:none
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal
}
ol, ul {
	list-style:none
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal
}
q:before, q:after {
	content:''
}
abbr, acronym {
	border:0
}
a {
	text-decoration:none;
	color:#333
}
ins {
	text-decoration:none
}
.clear {
	clear:both;
	height:0;
	overflow:hidden
}
html {
	-webkit-text-size-adjust:none
}
input[type="text"], input[type="button"], input[type="submit"], input[type="search"], input[type="number"] {
	-webkit-appearance:none;
	border-radius:0
}
input[type="checkbox"] {
	margin:0 3px 3px 4px
}
img {
	max-width:100%
}
video {
	margin-left:auto;
	margin-right:auto;
	max-width:100%
}
.wrap {
	padding:0 10px
}
.wrap-b10 {
	padding-bottom:10px
}
.header {
	width:100%;
	height:44px;
	background:#F8F8F8;
	position:relative;
	z-index:91;
	color:#565656
}
.header .logo {
	width:85px;
	height:33px;
	background:url(../images/m_header_nav_search2.png) no-repeat 0 0;
	background-size:100px auto;
	float:left;
	text-indent:-999em;
	margin:7px 0 0 10px
}
.header .user-out, .header .user-in {
	width:30px;
	height:30px;
	background:url(../images/m_header_nav_search2.png) no-repeat;
	background-size:100px auto;
	float:right;
	margin:7px 10px 0 0;
	position:relative
}
.header .user-out {
	background-position:0 -38px
}
.header .user-in {
	background-position:-30px -38px
}
.header .user-in i {
	width:9px;
	height:9px;
	background:#e64340;
	border-radius:9px;
	position:absolute;
	top:2px;
	right:-2px
}
.header .btn-search {
	width:50px;
	height:28px;
	border:1px solid #d2d2d2;
	border-radius:20px;
	float:right;
	margin:7px 10px 0 0;
	background:#FFF url(../images/m_header_nav_search2.png) no-repeat 6px -118px;
	background-size:100px auto;
	text-indent:-999em
}
.header .btn-nav {
	font-size:1.6rem;
	height:44px;
	line-height:44px;
	float:right;
	margin:0 10px
}
.header .btn-nav i {
	display:inline-block;
	width:0;
	height:6px;
	border:6px solid #666;
	border-color:#666 transparent;
	border-width:6px 6px 0 6px;
	margin:0 0 0 3px;
	vertical-align:-4px
}
.header .btn-nav-show {
	color:#0A4E8A
}
.header .btn-nav-show i {
	border-width:0 6px 6px 6px;
	vertical-align:3px;
	border-color:#0A4E8A transparent
}
.header .pop-nav {
	position:absolute;
	top:44px;
	right:10px;
	font-size:1.6rem
}
.header .pop-nav i {
	display:block;
	width:0;
	height:8px;
	border:8px solid #105796;
	border-width:0 8px 8px 8px;
	border-color:#1663A6 transparent;
	position:absolute;
	top:-16px;
	right:24px
}
.header .pop-nav ul {
	width:256px;
	overflow:hidden;
	border-bottom:2px solid #083E6E;
	box-shadow:1px 1px 3px #333
}
.header .pop-nav ul li {
	float:left;
	text-align:center
}
.header .pop-nav ul li a {
	display:block;
	width:63px;
	height:44px;
	line-height:44px;
	background:#1663A6;
	color:#FFF;
	border-right:1px solid #0A4E8A;
	border-bottom:1px solid #0A4E8A
}
.nav {
	width:100%;
	position:relative;
	z-index:19;
	margin:-1px 0 0 -1px
}
.nav ul li {
	width:20%;
	float:left;
	text-align:center
}
.nav ul li a {
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	background:#0A4E8A;
	font-size:1.6rem;
	color:#FFF;
	border-top:1px solid #083E6E;
	border-left:1px solid #083E6E
}
.b-return {
	width:100%;
	height:39px;
	line-height:39px;
	color:#FFF;
	background:#0A4E8A;
	border-top:1px solid #1A5A92;
	position:relative;
	z-index:90;
	text-align:center
}
.b-return span {
	font-size:1.7rem
}
.b-return h1 {
	font-size:1.7rem;
	display:inline-block
}
.b-return .opt {
	font-size:1.5rem;
	position:absolute;
	right:10px;
	color:#FFF;
	top:0
}
.b-return .opt a {
	float:left;
	color:#FFF;
	margin-left:10px
}
.b-return .btn-return {
	width:39px;
	height:39px;
	background:url(../images/m_header_nav_search2.png) no-repeat -78px -76px;
	background-size:100px auto;
	position:absolute;
	top:0;
	left:0;
	text-indent:-999em
}
.b-return h1 {
	display:inline
}
.b-news-favorites {
	width:40px;
	height:39px;
	position:absolute;
	top:0;
	right:42px;
	background:url(../images/m_header_news_share.png) no-repeat 9px 8px;
	background-size:50px auto;
	text-indent:-999em
}
.b-news-favorites-add {
	background-position:9px -23px
}
.b-news-share {
	width:40px;
	height:40px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/m_header_news_share.png) no-repeat 9px -59px;
	background-size:50px auto;
	text-indent:-999em;
	z-index:15
}
.b-news-share-show {
	background-color:#083E6E;
	border-left:1px solid #04325B
}
.b-news-share-list {
	width:118px;
	background:#083E6E;
	position:absolute;
	top:39px;
	right:0;
	z-index:14
}
.b-news-share-list a {
	display:block;
	height:43px;
	line-height:43px;
	color:#FFF;
	font-size:1.4rem;
	border-top:1px solid #04325B;
	background:url(../images/m_header_news_share.png) no-repeat;
	background-size:50px auto;
	padding:0 0 0 25px
}
.b-news-share-list a.sinaweibo {
	background-position:15px -94px
}
.b-news-share-list a.qzone {
	background-position:15px -130px
}
.b-news-share-list a.qqweibo {
	background-position:15px -169px
}
.ico-triangle-br {
	width:0;
	height:0;
	border-width:4px 4px;
	border-style:solid;
	border-color:transparent #fff #ffffff transparent;
	position:absolute;
	bottom:4px;
	right:4px;
	z-index:16
}
.b-news-edit {
	width:40px;
	height:40px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/m_header_news_share.png) no-repeat 9px -207px;
	background-size:50px auto;
	text-indent:-999em
}
.b-video-share {
	width:20px;
	height:18px;
	background:url(../images/ico_share.png) no-repeat;
	background-size:20px 18px;
	position:absolute;
	top:10px;
	right:15px
}
.p-search {
	width:100%;
	height:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:99
}
.p-search-h {
	width:100%;
	height:45px;
	background:#F8F8F8;
	border-bottom:1px solid #CCC;
	display:table
}
.p-search .btn-close {
	display:table-cell;
	font-size:1.8rem;
	width:40px;
	text-align:center;
	padding:0 18px;
	vertical-align:middle
}
.p-search-list {
	width:100%;
	font-size:1.7rem
}
.p-search-list ul li {
	border-bottom:1px solid #E9E9E9
}
.p-search-list ul li a {
	display:block;
	height:44px;
	line-height:44px;
	padding:0 0 0 30px
}
.p-search-list ul li a em {
	font-size:1.4rem;
	color:#666;
	float:right;
	margin:0 15px 0 0
}
.p-search-sort-box {
	display:table-cell;
	width:88px;
	vertical-align:middle
}
.p-search-sort-relative {
	position:relative
}
.p-search-sort {
	width:77px;
	height:29px;
	line-height:29px;
	border:1px solid #BFBFBF;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	border-right:0;
	background:#FFF;
	margin:0 0 0 10px;
	text-align:center;
	font-size:1.4rem;
	cursor:pointer
}
.p-search-sort i {
	display:inline-block;
	width:0;
	height:0;
	border-top:4px solid;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	vertical-align:3px
}
.p-search-sort-list {
	position:absolute;
	top:30px;
	left:25px;
	width:62px;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:2px solid #CCC;
	background:#FFF;
	text-align:center;
	font-size:1.6rem
}
.p-search-sort-list li {
	border-top:1px solid #CCC
}
.p-search-sort-list a {
	display:block;
	height:43px;
	line-height:43px
}
.p-search-input-box {
	display:table-cell;
	vertical-align:middle
}
.p-search-input-relative {
	position:relative
}
.p-search-input {
	width:100%;
	height:31px;
	line-height:31px;
	border:1px solid #BFBFBF;
	border-top-right-radius:20px!important;
	border-bottom-right-radius:20px!important;
	font-size:1.4rem;
	padding:0 0 0 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-image:none
}
.p-search-input-cancel {
	width:20px;
	height:20px;
	background:url(../images/m_header_nav_search2.png) no-repeat 2px -72px;
	background-size:100px auto;
	text-indent:-999em;
	position:absolute;
	top:5px;
	right:6px
}
input[type="search"]::-webkit-search-cancel-button {
display:none
}
input[type="search"]::-ms-clear {
display:none
}
.scroll-block {
	height:40px;
	line-height:40px;
	overflow:hidden;
	overflow-x:scroll;
	background:#F8F8F8;
	border-bottom:1px solid #E4E4E4;
	-webkit-overflow-scrolling:touch;
	-ms-overflow-style:none;
	padding:0 10px;
	position:relative
}
.scroll-block::-webkit-scrollbar {
height:0
}
.scroll-block ul {
	white-space:nowrap;
	font-size:1.4rem
}
.scroll-block ul li {
	white-space:nowrap;
	display:inline-block;
	margin:0 4px 0 0
}
.scroll-block ul li:last-child {
	margin:0 6px 0 0
}
.scroll-block ul li a {
	padding:6px 10px
}
.scroll-block ul li.current a {
	background:#0A4E8A;
	color:#FFF;
	border-radius:4px
}
.header15 {
	height:44px;
	background:#fff;
	position:relative;
	z-index:91
}
.header15 .logo {
	width:86px;
	height:33px;
	background:url(../images/nav_ico_all_new.png) no-repeat 0 0;
	background-size:150px auto;
	float:left;
	text-indent:-999em;
	margin:6px 0 0 10px
}
.header15 .btn-search {
	width:50px;
	height:28px;
	border:1px solid #d2d2d2;
	border-radius:20px;
	float:right;
	margin:7px 15px 0 0;
	background:#FFF url(../images/nav_ico_all_new.png) no-repeat -128px 6px;
	background-size:150px auto;
	text-indent:-999em
}
.header15 .user-out {
	width:32px;
	height:32px;
	border-radius:50%;
	background:url(../images/nav_ico_all_new.png) no-repeat 0 -80px;
	background-size:150px auto;
	float:right;
	margin:6px 15px 0 0
}
.header15 .user-in {
	float:right;
	margin:6px 15px 0 0;
	position:relative
}
.header15 .user-in img {
	display:block;
	width:32px;
	height:32px;
	border-radius:50%
}
.header15 .user-in i {
	position:absolute;
	top:-4px;
	right:-7px;
	background:#F43531;
	color:#fff;
	min-width:18px;
	height:18px;
	line-height:18px;
	font-size:1.2rem;
	border-radius:50%;
	text-align:center
}
.nav {
	width:100%;
	position:relative;
	z-index:19;
	margin:-1px 0 0 -1px;
	z-index:19
}
.nav ul li {
	width:20%;
	float:left;
	text-align:center
}
.nav ul li a {
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	background:#195595;
	font-size:1.6rem;
	color:#FFF;
	border-top:1px solid #164C86;
	border-left:1px solid #164C86
}
.op-nav-out {
	width:100%;
	height:44px;
	position:relative;
	position:-webkit-sticky;
	position:sticky;
	top:0;
	z-index:99
}
.op-nav-fixed {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:299
}
.op-nav {
	height:44px;
	background:#195595;
	position:relative;
	z-index:90;
	font-size:1.6rem;
	color:#fff;
	padding:0 12rem 0 45px
}
.op-nav a {
	color:#fff
}
.op-nav .btn-return, .op-nav .btn-search, .op-nav .btn-menu, .op-nav .btn-share {
	width:43px;
	height:100%;
	text-indent:-999em;
	position:absolute;
	top:0
}
.op-nav .btn-return {
	border-right:2px solid #164c86;
	background:#174e89 url(../images/nav_ico_all_new.png) no-repeat 16px -154px;
	background-size:150px auto;
	left:0
}
.op-nav .btn-menu {
	right:0
}
.op-nav .btn-menu span, .b-menu-nav .btn-menu span {
	width:100%;
	height:100%;
	display:block;
	position:relative;
	overflow:hidden
}
.op-nav .btn-menu em, .b-menu-nav .btn-menu em {
	width:19px;
	height:1px;
	background:#fff;
	display:block;
	margin:6px auto 0
}
.op-nav .btn-menu em.em-f, .b-menu-nav .btn-menu em.em-f {
	margin-top:15px
}
.op-nav .btn-menu i, .b-menu-nav .btn-menu i {
	width:0;
	height:0;
	border-width:3px 3px;
	border-style:solid;
	border-color:transparent #fff #fff transparent;
	position:absolute;
	bottom:5px;
	right:5px
}
.op-nav .btn-menu-show {
	background:#124b87
}
.op-nav .btn-menu-show i {
	bottom:0;
	right:21px;
	border-width:3px 4px
}
.op-nav .btn-search {
	background:url(../images/nav_ico_all_new.png) no-repeat -118px -24px;
	background-size:150px auto;
	right:44px
}
.op-nav .btn-share {
	background:url(../images/nav_ico_all_new.png) no-repeat 12px -117px;
	background-size:150px auto;
	right:88px
}
.op-nav .function {
	height:100%;
	position:absolute;
	top:0;
	right:88px;
	line-height:44px;
	text-align:right;
	padding-right:10px
}
.op-nav .function span {
	padding:0 3px 0 0
}
.op-nav .function i {
	border-color:#fff transparent;
	border-image:none;
	border-style:solid;
	border-width:4px 4px 0;
	display:inline-block;
	height:4px;
	margin:0;
	vertical-align:-1px;
	width:0
}
.op-nav .tt-name {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
	height:32px;
	padding-top:12px
}
.op-nav .tt-name .yiche-logo {
	width:44px;
	height:16px;
	background:url(../images/nav_ico_all_new.png) no-repeat 0 -36px;
	background-size:150px auto;
	display:inline-block;
	text-indent:-999em;
	margin:0 5px 0 10px;
	vertical-align:bottom
}
.op-nav .tt-name-sub {
	height:44px;
	line-height:44px;
	padding:0 0 0 10px
}
.menu-pop {
	width:328px;
	overflow:hidden;
	background:#fff;
	border:2px solid #195595;
	border-top:0;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	position:absolute;
	top:44px;
	right:0;
	font-size:1.4rem;
	z-index:90
}
.menu-crumbs {
	height:43px;
	line-height:43px;
	color:#999;
	padding:0 0 0 18px
}
.menu-crumbs a {
	color:#666
}
.menu-crumbs i {
	width:6px;
	height:11px;
	background:url(../images/nav_ico_all_new.png) no-repeat 0 -203px;
	background-size:150px auto;
	display:inline-block;
	margin:0 10px;
	vertical-align:-1px
}
.menu-nav {
	overflow:hidden;
	width:100%;
	font-size:1.6rem
}
.menu-nav li {
	width:20%;
	height:40px;
	line-height:40px;
	float:left;
	text-align:center
}
.menu-nav a {
	color:#666;
	display:block;
	border-top:1px solid #ececec;
	border-right:1px solid #ececec
}
.menu-login {
	height:44px;
	line-height:44px;
	background:#f9f9f9;
	border-top:1px solid #ececec;
	overflow:hidden;
	position:relative
}
.menu-login a {
	display:block;
	position:relative;
	color:#666
}
.menu-login a:after {
	display:block;
	position:absolute;
	top:16px;
	right:13px;
	width:6px;
	height:11px;
	content:'';
	background:url(../images/nav_ico_all_new.png) no-repeat 0 -203px;
	background-size:150px auto;
	font-size:0;
	line-height:0;
	color:transparent
}
.menu-login .user-out {
	width:32px;
	height:32px;
	background:url(../images/nav_ico_all_new.png) no-repeat 0 -80px;
	background-size:150px auto;
	display:inline-block;
	margin:0 10px 0 18px;
	vertical-align:-10px
}
.menu-login .user-in img {
	display:inline-block;
	width:32px;
	height:32px;
	border-radius:50%;
	margin:0 10px 0 18px;
	vertical-align:-10px
}
.menu-login i {
	position:absolute;
	background:#F43531;
	color:#fff;
	min-width:18px;
	height:18px;
	line-height:18px;
	font-size:1.2rem;
	border-radius:50%;
	text-align:center;
	top:12px;
	right:30px
}
.b-menu-pop {
	top:auto;
	bottom:44px;
	border:2px solid #195595;
	border-bottom:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:3px;
	border-top-right-radius:3px
}
.b-menu-nav {
	height:44px;
	line-height:44px;
	background:#195595;
	position:relative;
	margin-top:15px
}
.b-menu-nav ul.main-nav {
	font-size:1.6rem;
	padding-right:45px;
	overflow:hidden
}
.b-menu-nav ul.main-nav li {
	width:25%;
	float:left;
	text-align:center
}
.b-menu-nav ul.main-nav li a {
	display:block;
	border-right:1px solid #164c86;
	color:#fff
}
.b-menu-nav ul.main-nav li:last-child a {
	border-right:0
}
.b-menu-nav .btn-menu {
	position:absolute;
	top:0;
	right:0;
	width:44px;
	height:100%;
	border-left:1px solid #164c86
}
.b-menu-nav .btn-menu-show {
	background:#124b87;
	border-color:#124b87
}
.b-menu-nav .btn-menu-show i {
	top:0;
	right:18px;
	border-width:3px 4px;
	border-color:#fff #fff transparent transparent
}
.new-nav-pop {
	width:100%;
	height:100%;
	overflow:hidden;
	background:rgba(0, 0, 0, 0.4);
	position:absolute;
	top:0;
	left:0;
	z-index:9999
}
.new-nav-pop .mask-img {
	width:170px;
	height:114px;
	background:url(../images/new_nav_pop.png) no-repeat;
	background-size:170px auto;
	position:absolute;
	top:1px;
	right:1px
}
.card-news-list li:last-child {
	border-bottom:1px solid #ECECEC
}
.card-news-list h4 {
	height:25px;
	word-break:break-all
}
.m-pages {
	padding-top:15px
}
.m-pages-num {
	top:15px
}
.ad-txt-line {
	width:100%;
	height:45px;
	line-height:45px;
	background:#fbfbfb
}
.ad-txt-line em {
	font-size:1.2rem;
	color:#3369B1;
	height:14px;
	line-height:14px;
	border:1px solid #3369B1;
	border-radius:2px;
	padding:1px 4px;
	display:inline-block;
	margin:0 8px 0 15px;
	vertical-align:1px
}
.ad-txt-line a {
	display:inline-block;
	font-size:1.4rem;
	color:#666
}
.m-fixed-app-mask {
	width:100%;
	height:50px;
	position:fixed;
	left:0;
	bottom:0;
	background:#000;
	opacity:.75;
	z-index:88
}
.m-fixed-app-download {
	width:100%;
	height:50px;
	line-height:50px;
	font-size:1.6rem;
	position:fixed;
	left:0;
	bottom:0;
	z-index:89
}
.m-fixed-app-download .m-fixed-btn-close {
	width:25px;
	height:30px;
	background:url(http://image.bitautoimg.com/uimg/mbt/images/m_ico_fixed_app_close.png) no-repeat center center;
	background-size:22px 22px;
	float:left;
	text-indent:-9999em;
	margin:14px 0 0 5px
}
.m-fixed-app-download a {
	float:left;
	height:50px;
	color:#FFF
}
.m-fixed-app-download a img {
	width:32px;
	height:32px;
	margin:0 7px 0 6px;
	vertical-align:middle
}
.m-fixed-app-download a.style1 {
	background:url(http://image.bitautoimg.com/uimg/mbt/images/m_ico_fixed_app_download.png) no-repeat right center;
	background-size:21px 19px;
	padding-right:25px
}
.m-fixed-app-download .m-fixed-btn-close {
	margin:10px 0 0 5px;
	background-size:20px 20px
}
.m-fixed-app-download a.style2 img {
	float:left;
	margin:10px 0 0 10px
}
.m-fixed-app-download a.style2 dl {
	float:left;
	color:#FFF;
	line-height:18px;
	margin:8px 0 0 10px
}
.m-fixed-app-download a.style2 dt {
	font-size:1.5rem
}
.m-fixed-app-download a.style2 dd {
	font-size:1.2rem
}
.m-fixed-app-download a.style2-btn {
	float:left;
	width:auto;
	height:25px;
	background:#EDEDED;
	background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DBDBDB));
	background:-moz-linear-gradient(top, #FFF, #DBDBDB);
	background:-ms-linear-gradient(top, #FFF, #DBDBDB);
	color:#666;
	font-size:1.2rem;
	line-height:25px;
	border-radius:2px;
	padding:0 10px;
	margin:14px 0 0 20px
}
.m-fixed-app-download a.style2-btn span {
	background:url(http://image.bitautoimg.com/uimg/mbt/images/m_fixed_ico_download.png) no-repeat right center;
	background-size:13px 13px;
	padding-right:17px
}
.ad-bottom-img img {
	display:block;
	margin-top:12px
}
.gg-top {
	height:58px;
	background:#ECECEC;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	overflow:hidden
}
.gg-top img {
	width:40px;
	height:40px;
	float:left;
	margin:9px 0 0 10px
}
.gg-top dl {
	float:left;
	margin:10px 0 0 10px;
	line-height:20px
}
.gg-top dt {
	font-size:1.8rem;
	color:#666;
	font-weight:bold
}
.gg-top dd {
	font-size:1.2rem;
	color:#999
}
.gg-top .gg-btn-close {
	width:15px;
	height:15px;
	background:url(../images/ad_app_top_close.png) no-repeat;
	background-size:15px 15px;
	float:right;
	text-indent:-999em;
	margin:22px 10px 0 0
}
.gg-top .gg-btn-download {
	width:68px;
	height:23px;
	line-height:23px;
	background:#ECECEC;
	border:1px solid #0069C9;
	color:#0069C9;
	text-align:center;
	border-radius:3px;
	float:right;
	font-size:1.2rem;
	margin:17px 20px 0 0
}
.ad-app {
	width:100%;
	height:53px;
	background:#f0f0f0;
	overflow:hidden
}
.ad-app-top {
	border-bottom:1px solid #ececec
}
.ad-app-fixed {
	border-top:1px solid #ececec;
	position:fixed;
	left:0;
	bottom:0;
	opacity:.95;
	z-index:98
}
.ad-app .ad-close {
	width:11px;
	height:11px;
	background:url(../images/ad_app_top_close.png) no-repeat;
	background-size:11px auto;
	float:left;
	text-indent:-999em;
	margin:20px 0 0 15px
}
.ad-app img {
	width:40px;
	height:40px;
	display:block;
	float:left;
	margin:7px 0 0 15px
}
.ad-app dl {
	float:left;
	margin:8px 0 0 10px
}
.ad-app dt {
	font-size:1.4rem;
	line-height:20px
}
.ad-app dd {
	font-size:1.2rem
}
.ad-app .ad-btn-download {
	width:68px;
	height:23px;
	line-height:23px;
	border:1px solid #2d5ea2;
	color:#2d5ea2;
	text-align:center;
	border-radius:3px;
	float:right;
	font-size:1.2rem;
	margin:14px 15px 0 0
}
.m-detail-top h1 {
  font-size: 2.8rem;
  line-height: 40px;
  padding: 13px 0 0;
  text-align:center;
}
.m-detail-top .m-post-author {
  color: #999;
  float: left;
  padding: 10px 0 0;
  font-size: 1.4rem;
  text-align:center;
  width:100%;
}
.m-detail-top {
  overflow: hidden;
  padding: 0 15px 19px;
  background: #fff;
  font-size: 1.2rem;
}
.m-detail-con {
  font-size: 1.8rem;
  line-height: 30px;
  padding: 15px;
  overflow: hidden;
}

.xfk {
  border-top: 1px solid #ececec;
  position: fixed;
  left: 0;
  bottom: 0;
width: 100%;
  height: 65px;
padding-top:5px;
  overflow: hidden;
  z-index: 98;
  background:rgba(255,255,255,0.95)
}
.btn-orange, .btn-green, .btn-gray, .btn-blue {
  border-width: 1px;
  border-style: solid;
  font-size: 1.5rem;
  text-align: center;
}
.btn-gray {
  background-color: #F9F9F9;
  border-color: #ddd;
  color: #333;
}
.btn-one {
  width: 100%;
  height: 36px;
  line-height: 36px;
  display: block;
  margin-top: 10px;
}
.b-return {
  background: #3072bd;
  border-top: 1px solid #3072bd;
}
.mbt-page{padding-bottom:130px;}
.xfk  ul li{ width:25%; float:left;}
.xfk ul li a{padding-left:35%;color:#000;font-size:12px;}
.xfk ul li a img{width:40px; height:40px;}
.xfk ul li a span{padding-left:33%;}
.guang {
  border-top: 1px solid #ececec;
  position: fixed;
  left: 0;
  bottom: 0;
width: 100%;
  height: 73px;
  overflow: hidden;
  z-index: 98;
  background:rgba(255,255,255,0.95)
}
.guanb {
 position: fixed;
  right: 5px;
  bottom: 35px;
  height: 31px;
  z-index: 99;
}

.guanb img{
	width:25px;height:25px;
}
.zf_main{ width:100%; height:100%; background:#FFF;}
.zf_main ul li{  height:40px; background:#fff; border-bottom:#ccc 1px solid;}
.wycs{width:100%; height:100px;}
.guang img{ width:100%; height:73px;}
.zf_top{ border-bottom:#ccc 1px solid; height:40px;}
.zf_time{ width:30%;float:left;height:40px; line-height:40px; text-align:center; border-right:#CCC 1px solid; overflow:hidden;}
.red{color:#F00;}
.zf_new{width:50%; float:left;height:40px; line-height:40px; text-align:center;border-right:#CCC 1px solid;overflow:hidden;}
.zf_tit{width:50%; float:left;height:40px; line-height:40px;border-right:#CCC 1px solid; text-align:center;overflow:hidden;}
.zf_monery{width:19%;height:40px; line-height:40px; float:left;text-align:center;}



.ty_main{ width:100%; height:100%; background:#FFF;}
.ty_main ul li{  height:40px; background:#fff; border-bottom:#ccc 1px solid;}

.ty_top{ border-bottom:#ccc 1px solid; height:40px;}
.ty_time{ width:60%;float:left;height:40px; line-height:40px; text-align:center; border-right:#CCC 1px solid; overflow:hidden;}
.red{color:#F00;}

.ty_tit{width:50%; float:left;height:40px; line-height:40px;border-right:#CCC 1px solid; text-align:center;overflow:hidden;}
.ty_monery{width:39%;height:40px; line-height:40px; float:left;text-align:center;}

